<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brand" class="navbar-brand" href="#"><img src="../../assets/images/logo.png"/></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active font2 head"><a href="#" style="color: #dd4f75;">Home</a></li>
                <li class="font2 head"><a href="#about" style="color: #624dd6;">About</a></li>
                <li class="font2 head"><a href="#contact" style="color: #51e29a;">Contact</a></li>
                <li class="font2 head"><a routerLink="/" style="color: #10b6fe;">Logout</a></li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->