<footer>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div>
            <div class="footerTitle text-uppercase">Follow Us
            <hr class="line1" />
          </div>
<div>
            <a href="https://www.facebook.com/tunnelviewmusic/" target="_blank" class="btn-social btn-facebook"><i
                class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/tunnelviewmusic/" target="_blank" class="btn-social btn-instagram"><i
                class="fa fa-instagram"></i></a>
            <a href="https://soundcloud.com/tunnelview" target="_blank" class="btn-social btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
            <a href="https://twitter.com/tunnelviewmusic" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
            <a href="tunnelviewbooking@gmail.com" target="_blank" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
          </div>
          </div>

          <div class="">

            <div class="footerTitle text-uppercase m-top20">Contact Us
            <hr class="line1" />
          </div>
            <div>
              <ul class="footerText p-left12 list-none">

                <li>
                  <i class="fa fa-phone fa-2x"></i> &nbsp; 012-345-6789 <br />
Mon-Sat:9.00 am – 10.00pm
                </li>
                <li>
                  <i class="fa fa-map-marker fa-2x"></i>
                    1234,Jalan Dutamas , Kuala Lumpur, Malaysia
                </li>
              </ul>

            </div>
          </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div>
            <div class="footerTitle text-uppercase">Latest posts
            <hr class="line1" />
          </div>
            <div>
                          <ul class="footerText p-left12">
              <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
              <li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div>
            <div class="footerTitle text-uppercase">About Us
            <hr class="line1" />
          </div>
            <div>
            <p class="footerText">
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div>
            <div class="footerTitle text-uppercase">Subscribe to E-newsletter
            <hr class="line1" />
          </div>

            <div>
              <form>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>>
