
  <div>
    <div class="container-fluid ">
      <div class="row">
       <div class="col-lg-12 footer" >
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 font1">
              <div >
                <div class="footerTitle text-uppercase">Follow Us
                <hr class="line1" />
              </div>
    <div>
                <a href="https://www.facebook.com/tunnelviewmusic/" target="_blank" class="btn-social btn-facebook"><i
                    class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/tunnelviewmusic/" target="_blank" class="btn-social btn-instagram"><i
                    class="fa fa-instagram"></i></a>
                <a href="https://soundcloud.com/tunnelview" target="_blank" class="btn-social btn-soundcloud"><i class="fa fa-soundcloud"></i></a>
                <a href="https://twitter.com/tunnelviewmusic" target="_blank" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="tunnelviewbooking@gmail.com" target="_blank" class="btn-social btn-email"><i class="fa fa-envelope"></i></a>
              </div>
              </div>
    
              <!-- <div class="">
    
                <div class="footerTitle text-uppercase m-top20">Contact Us
                <hr class="line1" />
              </div>
                <div>
                  <ul class="footerText p-left12 list-none">
    
                    <li>
                      <i class="fa fa-phone fa-2x"></i> &nbsp; 012-345-6789 <br />
    Mon-Sat:9.00 am – 10.00pm
                    </li>
                    <li>
                      <i class="fa fa-map-marker fa-2x"></i>
                        1234,Jalan Dutamas , Kuala Lumpur, Malaysia
                    </li>
                  </ul>
    
                </div>
              </div> -->
            </div>
    
    
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 font1">
              <div>
                <div class="footerTitle text-uppercase">Latest posts
                <hr class="line1" />
              </div>
                <div>
                              <ul class="footerText p-left12" style="list-style: none;">
                  <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</li>
                
                </ul>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 font1">
              <div>
                <div class="footerTitle text-uppercase">About Us
                <hr class="line1" />
              </div>
                <div>
                <p class="footerText">
                  "Lorem ipsum dolor sit amet, consectetur adipiscing elit, aliqua."
                </p>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 font1">
              <div>
                <div class="footerTitle text-uppercase">Subscribe to E-newsletter
                <hr class="line1" />
              </div>
    
                <div>
                  <form>
    
                  </form>
                </div>
              </div>
            </div>
       </div>

      </div>
    </div>
  </div>

