.navbar-brand {
    font-size: 24px;
}
.navbar {
    background: rgba(15, 13, 13, 0.6392156862745098);
}
.navbar-container {
    padding: 10px 0 10px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}
.fon_h{
    font-size: 26px;
}

.navbar-container.fixed-theme {
    padding: 0;
}
.navbar-nav>li>a{ color: #fff;}
.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
#header img{
    margin-top: -25px;
    margin-left: -85px;
    max-width: 130px;
    
}



.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #64575900;
}