<nav id="header" class="navbar navbar-fixed-top">
  <div id="header-container" class="container navbar-container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="image">
          <a id="brand" class="navbar-brand" href="#"><img src="../../assets/images/logo.png"/></a>
        </div>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
              <li class="active font1 fon_h  "><a href="#" class="bgcolor">Home</a></li>
              <li class="font1 fon_h"><a href="#about" style="color: #4dd678;">About</a></li>
              <li class="font1 fon_h" ><a href="#contact" style="color: #e2df51;">Contact</a></li>
          </ul>
      </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->