<app-header1></app-header1>


<div class="landingPage">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item ">
        <img src="assets/images/slider4.jpg" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="assets/images/slider6.jpg" alt="Chicago" style="width:100%;">
      </div>

      <div class="item">
        <img src="assets/images/slider5.jpg" alt="New york" style="width:100%;">
      </div>
      <div class="item active">
          <img src="assets/images/circle.jpg" alt="New york" style="width:1700px;height:1000px">
        </div>
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="loginArea1">
    <p class="font1" style="color:#ffd338">The Best School</p>
    <p class="font1" style="color: #94d022"> <b>For Your Kids</b> </p>
  </div>
  <div class="loginArea">
    <h1 class="form-heading font1 ">LOGIN</h1>
    <div class="">
      <div class="formArea">
        <!-- <form (submit)="login(t)" #t="ngForm">

        <div class="form-group">


          <input type="email" class="form-control inputArea" id="email" name="email" ngModel placeholder="Email Address">

        </div>

        <div class="form-group">

          <input type="password" class="form-control inputArea" id="password" name="password" ngModel placeholder="Password">

        </div>
        <br />
        <button type="submit" class="btn btn-success center-block" >Login</button>

      </form> -->

        <form class="example-form" (submit)="login(t)" #t="ngForm">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Your UserName" id="email" name="email" ngModel>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Enter Your Password / PIN" id="password" name="password" ngModel>
          </mat-form-field>

         
              <mat-radio-group >
                <mat-radio-button class="example-margin" value="Student" [checked]=true>Student</mat-radio-button> 

                &nbsp;

                <mat-radio-button class="example-margin" value="parents">Parents</mat-radio-button>
              </mat-radio-group>
            
          <div class="example-button-row center-block text-center">

            <button mat-stroked-button color="primary" class="buttonMargin">Login</button>


          </div>
        </form>


      </div>

    </div>



  </div>


  &nbsp;
  <!-- <div class="top4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
              <img src="../assets/images/flask.png" alt="">
              <div>
              <p>Here the classes are conducted in tune with the nature…</p>
            </div>
        </div>
      </div>
    </div>
  </div> -->
<div class="col-lg-12 m_btm20 m_top20">
    <!-- <div class="row">
        <h3 class="font-darkblue text-center font-wait font1">Menu</h3>
      </div> -->
<div class="col-lg-3 col-ms-3 col-md-6 col-xs-12">
    <ul class="liststyle">
      <li class="f_left">
        <img src="../../assets/images/chemical.png" class="img-responsive chemicalstyle width60">
      </li>
      <li style="font-family: Roboto;">
          Here the classes are conducted in tune with the nature…
      </li>
    </ul>
</div>
<div class="col-lg-3 col-ms-3 col-md-6 col-xs-12">
    <ul class="liststyle">
        <li class="f_left">
          <img src="../../assets/images/brain.png" class="img-responsive brainstyle width60">
        </li>
        <li style="font-family: Roboto;">
            More than 1000 kids have gained the confidence to walk tall.
        </li>
      </ul>
</div>
<div class="col-lg-3 col-ms-3 col-md-6 col-xs-12">
    <ul class="liststyle">
        <li class="f_left">
          <img src="../../assets/images/buk.png" class="img-responsive bookstyle width60">
        </li>
        <li style="font-family: Roboto;">
            Emphasis is more on hands on training rather than class room.
        </li>
      </ul>
</div>
<div class="col-lg-3 col-ms-3 col-md-6 col-xs-12">
    <ul class="liststyle">
        <li class="f_left">
          <img src="../../assets/images/bulb.png" class="img-responsive bulbstyle width60">
        </li>
        <li style="font-family: Roboto;">
            Creativity finds expression through these children, if only we allow it…
        </li>
      </ul>
</div>
</div>
 
  <!-- <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-6 col-xs-6 fadeInLeftBig animated">
            <img src="../assets/images/thinking.png" alt="">
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-6"></div>
          <div class="col-sm-6 jello animated">
            <img src="../assets/images/study.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-4">
        <img src="../assets/images/testimon.png" alt="ss">
      </div>
      <div class="col-sm-3 col-xs-3">
        <div class="row">
          <div class="col-sm-6 fadeInLeftBig animated">
            <img src="../assets/images/invent.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div> &nbsp;  -->
  <div class="container2">

    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
            <h1 class="font1 heading">TO KNOW MORE ABOUT SMART SCHOOL, SUBSCRIBE TO OUR NEWSLETTER. OR CONTACT US:
              +91 94 94 160 540</h1>
          </div>
        </div>
      </div>
    </div>
    
  </div>

  <app-footer></app-footer>