/* body#LoginForm{ background-image:url("../assets/images/mini.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;} */
/* body{ background-image:url("../assets/images/mini.jpg")} */
.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

/* slider */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.container .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 500%;
	height: 100%;
	animation: animate 10s linear infinite;
}
.container .slider .slide {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}
.container .slider .slide .caption { 
	position: absolute;
	bottom: 60px;
	right: 60px;
	left: 60px;
	padding: 30px;
	background-color: rgba(0,0,0,.5);
	box-sizing:border-box;
	transition: 0.5s;
}
.container .slider .slide .caption h2 { 
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 48px;
	transition: 0.5s;
}
.container .slider .slide .caption p { 
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 18px;
	transition: 0.5s;
}
.container .slider .slide.slide1 {
	background: url(https://www.planwallpaper.com/static/images/47141475-hd-wallpapers.jpg);
	background-size: cover;
	background-position: center;
}
.container .slider .slide.slide2 {
	background: url(https://www.planwallpaper.com/static/images/963840d34c51efe6fbe57749fb434646.jpg);
	background-size: cover;
	background-position: center;
}
.container .slider .slide.slide3 {
	background: url(https://www.planwallpaper.com/static/images/HD-Wallpapers-B1.jpg);
	background-size: cover;
	background-position: center;
}
.container .slider .slide.slide4 {
	background: url(https://www.planwallpaper.com/static/images/beach-cool-wallpaper-hd_1_tKvqLtf.jpg);
	background-size: cover;
	background-position: center;
}


@keyframes animate {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.loginCarousel .carousel {
  position: relative;
  height: 548px;
  overflow: hidden;
}
.bestschool{
	margin-top: 90px;
}

@media screen and (max-width: 768px) {
	.container .slider .slide .caption { 
		bottom: 20px;
		right: 20px;
		left: 20px;
		padding: 20px;
	}
	.container .slider .slide .caption h2 { 
		margin: 0 0 10px;
		font-size: 30px;
	}
	.container .slider .slide .caption p { 
		font-size: 16px;
	}
}
.landingPage { position: relative; }
/* .loginArea{ 
  position: absolute;
  right: 15%;
  top: 12%;
  background: #fff;
  width: 30%;
} */

.loginArea1 p{
font-size: 48px;
} 
.form-heading {
	text-align: center;
	background: #656364;
	padding: 10px;
	margin: 0;
	color: #f5f6f6;
}
.formArea {
	padding: 18px 20px;
	background: #fff;
}
.inputArea {
  border: 1px solid #fff;
  height: 35px;
  border-radius: 0px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.row{
	margin:0px !important;
}

.m_btm20{margin-bottom: 20px;}
.m_top20{margin-top: 20px;}

.childrenimage{
  	background-image: url(/assets/images/screen.jpeg);
    height: 576px;
    width: 100%;
    background-size: cover;
    opacity: 0.9;
}
.container2 .row .col-sm-12{ 
	background-image:url("/assets/images/bg.jpg");
	height: 300px;
} 
.container1{
	height: 300px;
}
.heading{
	margin-top: 90px;
		color: #ffd338;
		font-size: 35px;
}
.m_btm20{margin-bottom: 20px;}
.mbtm10{margin-bottom: 10px !important;}
.f_size20{font-size: 20px !important;}
.height420{height: 420px;}
.paddingRightLeft0{
    padding-right: 0px;
    padding-left: 0px;
}
.mright20{ margin-right: 20px;}
.chemicalstyle{
	padding: 5px;
    background: #ff3366;
    border-radius: 30px;
    margin: auto;
    margin-right: 10px;
}
.brainstyle{
	padding: 5px;
    background: #08aaf4;
    border-radius: 30px;
    margin: auto;
    margin-right: 10px;
}
.bookstyle{
	padding: 5px;
    background: #fe5a27;
    border-radius: 30px;
    margin: auto;
    margin-right: 10px;
}
.bulbstyle{
	padding: 5px;
    background: #89d969;
    border-radius: 30px;
    margin: auto;
    margin-right: 10px;
}
.width60{ width: 60px;}
.liststyle{list-style: none;}
.f_left{float: left;}
.mtop78{margin-top: 78px;}
.sliderHeight{
	padding-left: 0px;
	border-bottom: 1px solid #ddd;
	background: #f1f1f1;
	height: 548px;
}
.heightwidthimg{
	height:548px;width: 1700px;
}
.height548{
	height:548px;
}