<app-header1></app-header1>


<div class="landingPage"> 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/images/slider1.jpg" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="assets/images/slider2.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="assets/images/slider3.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    <div class="loginArea">
  <h1 class="form-heading">login Form</h1>
  <div class="">
    <div class="">
      <div class="">
        <h2>LOGIN FOR DEPARTMENT</h2>
        <p>Please enter your email and password</p>
      </div>
      <form (submit)="login(t)" #t="ngForm">

        <div class="form-group">


          <input type="email" class="form-control" id="email" name="email" ngModel placeholder="Email Address">

        </div>

        <div class="form-group">

          <input type="password" class="form-control" id="password" name="password" ngModel placeholder="Password">

        </div>
        <button type="submit" class="btn btn-primary" >Login</button>

      </form>
    </div>
  </div>

  
</div>
</div>