<div class="row container">
<div class="col-sm-4">
<video width="700" height="700"  autoplay>
  <source src="https://s3.us-east-2.amazonaws.com/sudheer-sample-demo/How+is+The+Boss+Baby+BORN++-+FULL+DreamWorks+Animation+(KIDS+ANIMATION)+%5B2017%5D.mp4" type="video/mp4">
  <!-- <source src="movie.ogg" type="video/ogg"> -->
</video>
</div>
<div class="col-sm-1"></div>
<div class="col-sm-7 css_buttons">
  <ul>
    <li><a href="https://www.facebook.com/profile.php?id=100012512077239" data-toggle="tooltip" title="Hooray!"><img style="max-width: 80px;" src="assets/images/timetable.jpg" alt="ss"></a></li>
    <li><a href="#"><img style="max-width: 100px;" src="assets/images/about.jpg" alt="ss"></a></li>
    <li><a href="#"><img style="max-width: 100px;" src="assets/images/schinfo.jpg" alt=""></a></li> <br>
    <li><a href="https://www.linkedin.com/in/raj-kumar-web-designer/"><img style="max-width: 83px;" src="assets/images/school.jpg" alt=""></a></li>
    <li><a href="#"><img style="max-width: 83px;" src="assets/images/contact.jpg" alt=""></a></li>
    </ul>
</div>
</div>