<app-header></app-header>
<div class="mainContentArea">
  <div class="primaryArea">
    <div class="row">
      <!-- <h1 class="font1">hello</h1> -->
      <div class="col-sm-6 col-xs-6">
        <!-- <h1 class="flash animated">hello</h1> -->
        <video width="650" height="100%" style="margin-top:100px" autoplay>
          <source src="https://s3.us-east-2.amazonaws.com/sudheer-sample-demo/How+is+The+Boss+Baby+BORN++-+FULL+DreamWorks+Animation+(KIDS+ANIMATION)+%5B2017%5D.mp4"
            type="video/mp4">
          <!-- <source src="movie.ogg" type="video/ogg"> -->
        </video>
      </div>
      <!-- <div class="col-sm-1"></div> -->
      <div class="col-sm-6 col-xs-6  animate_top font-color">
        <div class="row">
          <div class="col-sm-3">
            <div class=".col- zoomIn animated">
              <img src="../assets/images/pencontainer.png" alt="aa"><span class="font1 bold font-color pointer">Art Work</span>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3">
            <div class="slideOutleft animated">
              <img src="../assets/images/pen.png" alt="aa"><span class="font1 bold">Home Work</span>
            </div>
          </div>
        </div> &nbsp;
        <div class="row">
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3">
            <div class=".col- zoomIn animated">
              <img src="../assets/images/copywriter.png" alt="aa"> <span class="font1 bold">Story Teller</span>
            </div>
          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3"></div> &nbsp;
          <div class="col-sm-3">
            <div class="rotateInUpRight animated">
              <img src="../assets/images/calendar.png" alt="aa"><span class="font1 bold">Celebrations</span>
            </div>
          </div>
        </div> &nbsp;
        <div class="row">
       <div class="row">
         <div class="col-sm-4">
          <div class="lightSpeedIn animated">
              <img src="../assets/images/edit.png" alt="aa"><span class="font1 bold">Competetions</span>
            </div>  
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-2">
              <div class="bounceInDown animated">
                  <img src="../assets/images/basketball.png" alt="aa"> <span class="font1 bold">Sports</span>
                </div>
          </div>
       </div>
       <div class="row">
         <div class="col-sm-5">

         </div>
         <div class="col-sm-3">
            <div class="flip animated">
                <img src="../assets/images/stand.png" alt="aa"> <span class="font1 bold">Lunch Break</span>
              </div>
         </div>
       </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>
<app-footer></app-footer>