/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.row{
    padding: 0px;
}
:focus { outline: 0 !important; }
.btn-success {
    width: 100px;
    height: 40px;
}
.m-top20 { margin-top: 20px; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.mainContentArea { margin-top: 70px; }

@font-face {
    font-family: BlackAndWhitePicture-Regular;
    src: url(assets/fonts/BlackAndWhitePicture-Regular.ttf);
}
@font-face {
    font-family: IndieFlower;
    src: url(assets/fonts/IndieFlower.ttf);
}
@font-face {
    font-family: Sacramento-Regular;
    src: url(assets/fonts/Sacramento-Regular.ttf);
}
@font-face {
    font-family: Pattaya-Regular;
    src: url(assets/fonts/Pattaya-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Medium.ttf);
}
.font3{
   font-family: Pattaya-Regular
}
.font{
    font-family: BlackAndWhitePicture-Regular;  
}
.font1{
    font-family: IndieFlower;
}
.font2{
    font-family: Sacramento-Regular;
}
.font-red{
    color: #e91e63;
    
}

.font-green{
    color: #88d914;
}

.font-lightgreen{
    color: #4dd678;
}
.font-yello{
    color: #e2df51;
}
.font-blue{
    color: #10b6fe;
}

.font-orange{
    color:#fd5a0f;
}
.font-darkblue{
    color: #673ab7;
}
.font-wait{
    font-weight: bold;
    font-size: 25px;
}

.font-greatgreen{
    color: #09b89d;
}

.font-family-robot{
    font-family: Roboto, sans-serif;;
}

.ourevnt-img{
    width:357px;
     height:275px;
}

.submenu-fontstyle{
    font-size: 15px;


}

.menu-icon{
    height: 100px;
    width: 100px;
}