/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.row{
    padding: 0px;
}
:focus { outline: 0 !important; }
.btn-success {
    width: 100px;
    height: 40px;
}
.m-top20 { margin-top: 20px; }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}